
body {
    background-color: black;
    margin: auto; 
    width: 90%;
    margin-top:100px;
}

h1 {
    color: green;
}

h2 {
    color: green;
}

h3 {
    color: green;
}

h4 {
    color: green;
}

h5 {
    color: green;
}

h6 {
    color: green;
}

p {
    color: green;
}

li {
    color: green;
    margin-top: 0px;
    margin-bottom: 0px;
}

aside {
    width: 30%;
    float: left;
    background-color: gainsboro;
}

header {
    position: fixed;
    top: 0;
    margin-left: 180px;
    margin: auto;
    width: 100%;
}

.headerdiv {
    background-color: black;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    height: 60px;
    margin: auto;
    width: 100%;
}

.footerdiv {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    margin-top: 20px;
}

div {
    background-color: black;
    float: left;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 0%;
    padding-left: 10px;
}

.sidenavp {
    color: black;
}

.main {
    margin-left: 14%;
    padding: 0px 10px;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: yellowgreen;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}
